body {
    background-color: rgb(67, 67, 67);
    color: rgb(237, 237, 237);
    text-align: center;
}

.main {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}